<html>
    <head>
        <title>ToDo</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            .input-field input[type=text]:focus {
                border-bottom: 5px solid #212121;
                box-shadow: 0 1px 0 0 #000;
            }
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
        </style>
    </head>
    <body>
        <style>
            .quick-task{
                position:fixed;
                bottom:40px; 
                width:66%; 
                left:16.5%; 
                opacity:1; 
                background: #ffffff; 
                margin-top:10px;
            }
        </style>
        <div id="add_task_button">
            <button class="btn-floating btn-large" style="position: fixed; bottom: 40px;right: 40px;" onclick="add_task()">
                <i class="material-icons">add</i>
            </button>
        </div>
        <div class="navbar-fixed">
            <nav class="nav-wraper grey darken-3">
                <a href="#" data-target="slide-out" class="left sidenav-trigger" style="display:block">
                    <i class="material-icons">menu</i>
                </a>
                <div class="container">
                    <!-- <a href="#" class="brand-logo">JARVIS</a> -->
                    <a href="#" class="sidenav">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-small-only" id="tasksNav">
                        <% for(i=0;i<tasks_lists.length;i++){%>
                            <li onclick="handleTasksList('<%= tasks_lists[i].list_name %>')"><a href="#"><%= tasks_lists[i].list_name %></a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="body" style="padding:30px; max-height:500px; overflow-y: scroll; overflow-x:hidden;">
            <% for(i=0; i < tasks_lists.length; i++) { %>
                <div class="container taskslist" id="<%= tasks_lists[i].list_name %>">
                    <ul class="collection with-header" id="Tasks">
                        <li class="collection-header"><h5><%= tasks_lists[i].list_name%></h5></li>
                        <div>
                            <%for(j=0;j<tasks_lists[i].tasks.length;j++){%>
                            <li class="collection-item">
                                <div>
                                    <label id="<%= tasks_lists[i].tasks[j]._id %>">
                                        <input type="checkbox" class="filled-in" onchange="complete_task('<%= tasks_lists[i].tasks[j]._id %>')" value="<%= tasks_lists[i].tasks[j].task_name%>">
                                        <span><%= tasks_lists[i].tasks[j].task_name%></span>
                                        <p>Created at: <%= tasks_lists[i].tasks[j].createdAt%></p>
                                    </label>
                                </div>
                            </li>
                            <%}%>
                        </div>
                    </ul>
                </div>
            <% } %>
        </div>
        <div class="footer container quick-task">
            <div class="input-field">
                <label for="quick-task-title">Enter a new task title</label>
                <input type="text" id="quick-task-title" placeholder="">
                <!-- <input type="text" id="quick-task-description" placeholder="Enter task description"> -->
                <button class="btn-floating z-depth-0" style="position:absolute; right:0; top:0; " onclick="addNewQuickTask()"><i class="material-icons">send</i></button>
            </div>
        </div>
        <ul id="slide-out" class="sidenav" id="sidenav">
            <li class="btn-floating right circle grey darken-3 z-depth-0" onclick="closeSideNav()" style="postion:relative; top:10px; right:10px;">
                <i class="material-icons">close</i>
            </li>
            <li><div class="user-view">
            <div class="background" style="background:#424242">
            </div>
            <a href="#user"><img class="circle" src="img_avatar.png"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="/logout">Logout</a></li>
        </ul>
        <div class="container" id="form-container" style="display:none;margin-top: 50px;">
            <h6 style="margin:30px;">Add your task list</h6>
            <div class="container" style="margin:30px" id="list-form">
                <div class="input-field">
                    <label for="task">Enter task list name...</label>
                    <input type="text" id="task" name="task" autofocus>
                </div>
                <div class="input-field">
                    <button class="btn grey darken-3" onclick="handleNewList()">Submit</button>
                </div>
            </div>
        </div>
        <div class="container" id="add_task_form" style="display: none;">
            <div class="background grey darken-3">
              <div style="height: 70px; margin-top: 40px;"></div>
              <div class="row">
                <div class="input-field col s12" style="margin-bottom:30px">
                  <i class="material-icons prefix" style="color: white">title</i>
                  <label for="task_name">Task Name</label>
                  <input type="text" name="task_name" id="task_name" class="validate" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12"  style="margin-bottom: 0px">
                <i class="material-icons prefix">notes</i>
                <label for="task_description">Notes</label>
                <input type="text" name="task_description" id="task_description" placeholder="Tap to add notes...">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin: 0px">
                <i class="material-icons prefix">list</i>
                <input type="text" name="task_list" id="task_list">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin: 0px">
                <i class="material-icons prefix">today</i>
                <label for="task_due_date">Due Date</label>
                <input type="text" name="task_due_date" id="task_due_date" class="datepicker">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin: 0px">
                <i class="material-icons prefix">timer</i>
                <label for="task_due_time">Due Time</label>
                <input type="text" name="task_due_time" id="task_due_time" class="timepicker">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin: 0px">
                <i class="material-icons prefix">add_alert</i>
                <label for="task_reminder">Reminder (Coming soon...)</label>
                <input type="text" name="task_reminder" id="task_reminder" disabled>
              </div>
            </div>
            <div class="row">
                <button class="btn">Add Task</button>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
        <script src="/index.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>    
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
                $('.datepicker').datepicker();
                $('.timepicker').timepicker();                
            });
        </script>
    </body>
    <script>
        socket.emit('test');
        socket.id = "<%= id %>";
        console.log(socket.id);
        var count = 3;
        const task = document.getElementById("task");
        const form = document.getElementById("list-form");
        const tasks = document.getElementById("task-list");
        const body = document.getElementById("body");
        const divs=document.getElementsByClassName("container taskslist");
        const quick_task_title=document.getElementById("quick-task-title");
        const quick_task_description=document.getElementById("quick-task-description");
        var activeListId = "task-list";
        quick_task_title.focus();
        function closeSideNav(){
            console.log("Close sidenav");
            $('.sidenav').sidenav('close');
        }
        function handleTasksList(s){
            add_task_button=document.getElementById("add_task_button");
            add_task_button.style="display:block;";
            document.getElementsByClassName("quick-task")[0].style="display:block";
            quick_task_title.focus();
            activeListId=s;
            document.getElementById("form-container").style="display:none";
            document.getElementById("add_task_form").style="display:none";
            document.getElementById("body").style="display:block";
            document.getElementById(s).style="display:block";
            for(i=0;i<divs.length;i++){
                if(divs[i].id!=s){
                    divs[i].style="display:none";
                }
            }
        }
        function addList(){
            if(count<6){
                document.getElementById("add_task_button").style="display:none";
                document.getElementsByClassName("footer")[0].style="display:none";
                console.log("add a task list");
                for(i=0;i<divs.length;i++)
                    divs[i].style="display:none";
                document.getElementById("form-container").style="display:block";
                task.focus();
            }
        }
        task.addEventListener("keyup",function(event){
            if(event.keyCode == 13)
                handleNewList();
        });
        function handleNewList(){
            console.log(document.getElementById("task")) ;
            if(task.value == "")
               return;
            count++;
            ajaxRequest = new XMLHttpRequest();
            url = "/add_task_list?list_name="+task.value;
            ajaxRequest.open("GET",url);
            ajaxRequest.send();
            console.log("form submit handler");
            document.getElementById("form-container").style="display:none";
            tasks.style="display:block";
            document.getElementsByClassName("footer")[0].style="display:block";
            tasksList=document.getElementById("tasksNav");
            tasksList.innerHTML+=`<li onclick="handleTasksList('${task.value}')"><a href="#">${task.value}</a></li>`;
            new_div=`
                <div class="container taskslist" id="${task.value}" style="display:none">
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>${task.value}</h5></li>
                        <div>
                        </div>
                    </ul>
                </div>
            `;
            body.innerHTML+=new_div;
            handleTasksList(task.value);
            task.value="";
        }
        quick_task_title.addEventListener("keyup",function(event){
            if(event.keyCode === 13){
                addNewQuickTask();
            }
        });
        function addNewQuickTask(){
            if(!quick_task_title.value)
                return;
            let tlist = document.getElementById(activeListId).children[0];
            tlc= tlist.children[1];
            console.log("add new quick task to list",tlc);
            console.log("new task id is",tlist.id+tlc.children.length);
            let new_task=`
                <li class="collection-item">
                    <div>
                        <label id="${tlist.id}${tlc.children.length}">
                            <input type="checkbox" class="filled-in" onchange="complete_task('${tlist.id}${tlc.children.length}')" value="${quick_task_title.value}">
                            <span>${quick_task_title.value}</span>
                        </label>
                    </div>
                </li>
            `;
            tlc.innerHTML = new_task + tlc.innerHTML;
            quick_task_title.value="";
            quick_task_title.focus();
            quick_task_title.select();
        }
        function complete_task(task_id){
            console.log("strike",task_id);
            label = document.getElementById(task_id);
            input = label.children[0];
            span = label.children[1];
            if(input.checked)
                span.innerHTML = "<strike>" + input.value + "</strike>";
            else
                span.innerHTML = input.value;
        }
        function add_task(){
            document.getElementsByClassName("footer")[0].style="display:none";
            //document.getElementById("body").style="display:none;";
            document.getElementById("add_task_button").style="display:none;";
            console.log("add a detailed task");
            for(i=0;i<divs.length;i++)
                divs[i].style="display:none";
            document.getElementById("task_list").value=activeListId;
            document.getElementById("add_task_form").style="display:block";
        }
    </script>
</html>